<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>中国</key>
		<array>
			<string>北京</string>
			<string>上海</string>
			<string>广州</string>
			<string>深圳</string>
		</array>
    <key>美国</key>
		<array>
			<string>纽约</string>
			<string>洛杉矶</string>
			<string>西雅图</string>
		</array>
    <key>日本</key>
		<array>
			<string>东京</string>
			<string>大阪</string>
			<string>北海道</string>
		</array>
    <key>澳大利亚</key>
		<array>
			<string>悉尼</string>
			<string>墨尔本</string>
		</array>
</dict>
</plist>
